<%
  if (page_title === 'undefined') {
    var page_title = '';
  }

  if (data === 'undefined') {
    var data = {
      head: 'default',
      body: 'default'
    }
  }
%>

<head>

<meta charset="UTF-8">

<title>
<% if (page_title) { %>
  <%= page_title %> | Mana
<% } else { %>
  Mana
<% } %>
</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="<%= description %>">
<meta name="keywords" content="<%- keywords %>">
<meta name="author" content="<%- author %>">
<meta name="robots" content="<%- robots %>">

<link rel="icon" type="images/svg+xml" href="images/favicon5.svg">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@2.0.2/destyle.min.css">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=M+PLUS+Rounded+1c:wght@400;500&display=swap" rel="stylesheet">

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>

<link rel="stylesheet" type="text/css" href="css/main.css">

</head>
